    <footer>
        <div class="wrapper">
            <p>Copyright © 2019-2021 mirko.pm (Mirko B.). All Rights Reserved. </p>
            <p>This site does not use cookies but could use services that make use of them.
                <a href="/privacy">Privacy Policy</a>.</p>
            <p>
                <a href="https://www.linkedin.com/in/mirkobrombin/" target="_blank">Linkedin</a> .
                <a href="https://www.github.com/mirkobrombin" target="_blank">GitHub</a> .
                <a href="https://www.twitter.com/brombinmirko" target="_blank">Twitter</a> .
                <a href="https://www.t.me/brombinmirko" target="_blank">Telegram</a>
            </p>
            <p>Hosted by <a href="https://github.com/mirkobrombin/mirko.pm" title="GitHub Pages">GitHub Pages</a></p>
            <script src="/assets/js/scripts.js"></script>
        </div>
    </footer>

<script type='text/javascript'>
    //some default pre init
    var Countly = Countly || {};
    Countly.q = Countly.q || [];

    //provide countly initialization parameters
    Countly.app_key = 'd88efdfbf1f66898b81cdcdc0491cb8d6acc8be0';
    Countly.url = 'https://analytics.fabricators.ltd';

    Countly.q.push(['track_sessions']);
    Countly.q.push(['track_pageview']);
    Countly.q.push(['track_clicks']);
    Countly.q.push(['track_scrolls']);
    Countly.q.push(['track_errors']);
    Countly.q.push(['track_links']);

    //load countly script asynchronously
    (function() {
        var cly = document.createElement('script'); cly.type = 'text/javascript';
        cly.async = true;
        //enter url of script here
        cly.src = 'https://analytics.fabricators.ltd/sdk/web/countly.min.js';
        cly.onload = function(){Countly.init()};
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(cly, s);
    })();
</script>

        
