<footer>
    <div>
        <div>
            <a href="#">
                <img src="https://linuxhub.it/storage/brand.svg" alt="linux/hub" />
            </a>
            <small>We ❤ Open source.</small>
            <small>Tutto il materiale dei nostri autori, salvo apposita segnalazione, é di proprietá degli autori
                linux/hub.</small>
            <small>Questa opera è distribuita con Licenza <a rel="license"
                    href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.it"><b>Creative Commons Attribuzione -
                        Non commerciale - Non opere derivate 4.0 Internazionale</b></a></small>
            <small>Il progetto linux/hub nasce nel <a href="https://linuxhub.it/articles/il-primo-post">25 Novembre
                    2016</a>. Il sito web nel 12 Febbraio 2017.</small>
            <ul>
                <li><span></span></li>
                <li>
                    <a href="https://linuxhub.it/privacy-policy/"><img class="icon"
                            src="/assets/images/zondicons/lock-closed.svg" alt="Privacy Policy" /> Privacy
                        Policy</a>
                </li>
                <li>
                    <a href="mailto:amministrazione@linuxhub.it"><img class="icon"
                            src="/assets/images/zondicons/user.svg" alt="Richiedi i tuoi dati" /> Richiedi
                        i tuoi dati</a>
                </li>
                <li><span></span></li>
                <li>
                    <a href="https://news.google.com/publications/CAAqBwgKMOma_Qow9v6JAw?hl=it&gl=IT&ceid=IT:it"><img
                            class="icon" src="/assets/images/zondicons/bookmark-outline-add.svg"
                            alt="Google News" /> Aggiungi a Google News</a>
                </li>
                <li>
                    <a href="articles/feed"><img class="icon" src="/assets/images/zondicons/news-paper.svg"
                            alt="Feed RSS" /> Feeds RSS</a>
                </li>
                <li>
                    <a href="mailto:amministrazione@linuxhub.it"><img class="icon"
                            src="/assets/images/zondicons/conversation.svg" alt="Feedback" /> Invia
                        feedback</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>Link utili</h3>
            <ul>
                <li>
                    <a target="_blank" href="https://t.me/linuxhub">Canale Telegram</a>
                </li>
                <li>
                    <a target="_blank" href="https://t.me/linuxpeople">Gruppo Telegram</a>
                </li>
                <li>
                    <a href="https://linuxhub.it/i-nostri-canali">Tutti i nostri canali</a>
                </li>
                <li>
                    <a href="mailto:amministrazione@linuxhub.it">Proponi notizie ed il tuo progetto</a>
                </li>
                <li>
                    <a href="mailto:amministrazione@linuxhub.it">Segnala abuso</a>
                </li>
                <li>
                    <a href="mailto:amministrazione@linuxhub.it">Richiedi analitche</a>
                </li>
                <li>
                    <a href="https://linuxhub.it/staff">Il nostro Team</a>
                </li>
                <li>
                    <a href="https://github.com/linuxhubit">GitHub</a>
                </li>
            </ul>
        </div>
        <div>
            <h3>Sitemap</h3>
            <ul>
                <li>
                    <a href="https://linuxhub.it/index.php/comunita-gruppi-linux-italiani">Comunità italiane</a>
                </li>
                <li>
                    <a href="https://linuxhub.it/libri">Libri - Biblioteca</a>
                </li>
                <li>
                    <a target="_blank" href="https://linuxpeople.org/">linuxpeople.org</a>
                </li>
                <li>
                    <a href="https://linuxhub.it/index.php/info">Su di noi</a>
                </li>
                <li>
                    <a
                        href="https://linuxhub.it/index.php/search?searchword=howto&amp;ordering=newest&amp;searchphrase=all">#howto</a>
                </li>
                <li>
                    <a
                        href="https://linuxhub.it/index.php/search?searchword=pausacaffe&amp;ordering=newest&amp;searchphrase=all">#pausacaffè</a>
                </li>
                <li>
                    <a href="https://www.gnome.org/friends/"> <img
                            src="https://static.gnome.org/friends/banners/fog-88x32.png"
                            alt="Become a Friend of GNOME" /></a>
                </li>
                <li>
                    <a rel="license" href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.it"> <img
                            alt="Licenza Creative Commons" style="border-width:0"
                            src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png"></a>
                </li>
            </ul>
        </div>
        <div>
            <h3>Disclaimer</h3>
            <small>linux/hub e linuxpeople, sono progetti non a scopo di lucro, creati a favore dell'Open
                source.</small>
            <small>Per informazioni, collegamenti legali e altri, riferirsi a Mirko Brombin tramite <a
                    href="mailto:amministrazione@linuxhub.it">E-mail</a></small>
            <small>Facciamo uso di <b>Cookie</b> e raccogliamo dati sulla navigazione a scopo puramente statistico,
                leggi maggiori informazioni <a href="https://linuxhub.it/privacy-policy">qui</a>.</small>
            <small>Questo portale non rappresenta una testata giornalistica, in quanto viene aggiornato senza alcuna
                periodicità.
                <br>L'oggetto principalmente trattato sono le guide pratiche. Non può, pertanto, considerarsi un
                prodotto editoriale, ai sensi della legge
                <a href="https://www.camera.it/parlam/leggi/01062l.htm" target="_blank">n. 62 del 7/03/2001.</small></a>
            <a target="_blank" href="https://mirko.pm/"><small>a project by <b>mirko.pm</b></small></a><br />
            <a target="_blank" href="https://biskuit.org/"><small>powered by <b>Biskuit</b></small></a>
        </div>
    </div>
</footer>

<script type='text/javascript'>
    var Countly = Countly || {};
    Countly.q = Countly.q || [];

    Countly.app_key = 'd554602dfe232eb93a674379001edb81778e1b90';
    Countly.url = 'https://data.fabricators.ltd';

    Countly.q.push(['track_sessions']);
    Countly.q.push(['track_pageview']);
    Countly.q.push(['track_clicks']);
    Countly.q.push(['track_scrolls']);
    Countly.q.push(['track_errors']);
    Countly.q.push(['track_links']);
    Countly.q.push(['track_forms']);
    Countly.q.push(['collect_from_forms']);

    (function () {
        var cly = document.createElement('script');
        cly.type = 'text/javascript';
        cly.async = true;
        //enter url of script here
        cly.src = 'https://data.fabricators.ltd/sdk/web/countly.min.js';
        cly.onload = function () {
            Countly.init()
        };
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(cly, s);
    })();
</script>
<noscript><img
        src='https://data.fabricators.ltd/pixel.png?app_key=d554602dfe232eb93a674379001edb81778e1b90&begin_session=1' /></noscript>