<footer>
    <ul>
        <li class="small">We ❤ Open source.</li>
        <li class="small">Tutto il materiale dei nostri autori, salvo apposita segnalazione, é di
            proprietá degli autori linux/hub <a rel="license"
                href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.it"><b>(cc)</b>.</a>
        </li>
        <li class="small">
            L'oggetto principalmente trattato sono le guide pratiche. Non può, pertanto, considerarsi un
            prodotto editoriale, ai sensi della legge <a href="https://www.camera.it/parlam/leggi/01062l.htm" target="_blank">n. 62 del 7/03/2001.</a>
        </li>
        <li class="small">Sponsorizzato da <a href="https://fabricators.ltd" target="_blank">fabricators.ltd</a></li>
    </ul>
    <ul class="sitemap">
        <li>
            <a href="/feed.xml">
                <span class="mdi material-icons"> rss_feed </span> Feed RSS
            </a>
        </li>
        <li>
            <a target="_blank" href="https://t.me/linuxhub">Canale Telegram</a>
        </li>
        <li>
            <a target="_blank" href="https://t.me/linuxpeople">Community</a>
        </li>
        <li>
            <a href="https://github.com/linuxhubit">GitHub</a>
        </li>
        <li>
            <a href="https://linuxhub.it/privacy-policy">Privacy Policy</a>
        </li>
    </ul>
</footer>