<meta charset="UTF-8">
<meta name="theme-color" content="#ffffff" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{% if page.title %}{{ page.title }} &sdot; {% endif %}{{ site.title }}</title>
<link rel="icon" type="image/png" href="{{ site.assets }}/favicon.png" />
<link rel="stylesheet" href="/assets/css/index.css" />
<script type="module" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.esm.js"></script>
<script nomodule="" src="https://unpkg.com/ionicons@5.2.3/dist/ionicons/ionicons.js"></script>
