<header itemscope itemtype="https://schema.org/WebSite">
    <div class="container">
        <div class="brand">
            <a href="/" title="{{ site.title }}">
                <img src="/assets/images/brand.svg" alt="linux/hub" />
                <img src="/assets/images/logo-lh-icon.svg" alt="linux/hub" style="display:none" />
            </a>
        </div>
        <div class="searchbox">
            <span class="mdi material-icons-outlined"> search </span>
            <input type="search" placeholder="Cerca...">
            <div class="results">
                <ul></ul>
            </div>
        </div>
        <nav>
            <ul>
                {% for item in site.navigation %}
                    <li class="{% if page.url == item.link %}active{% endif %}">
                        <a href="{{ item.link }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
</header>