{% assign post = include.post %}
{% assign date = post.date %}

{% if post.date != false %}

    <article itemscope itemtype="https://schema.org/NewsArticle">
        <meta itemprop="image" content="/assets/images/cover.png" hidden="">
        <h2 itemprop="headline">{{ post.title }}</h2>
        <span class="metaingo">
            <em itemprop="publisher" itemscope itemtype="https://schema.org/Organization" hidden>
                <span itemprop="name">linux/hub</span>
                <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                    <meta itemprop="url" content="https://linuxhub.it/storage/brand.png" />
                </span>
            </em>
            Scritto da
            <em itemprop="author" itemscope itemtype="https://schema.org/Person">
                <a href="//github.com/{{ post.author_github }}" target="_blank">
                    <span itemprop="name">{{ post.author }}</span>
                </a>
            </em> il
            <em itemprop="datePublished" content="{{ post.date }}">
                <time datetime="{{ post.date | date:'%Y-%m-%d' }}">{{ date | date: "%a, %b %e, %Y" }}</time>
            </em>
        </span>
        <p>{{ post.content | strip_html | truncatewords: 32 }}…</p>
        <div class="tags">
            {% for tag in post.tags %}
                <div class="tag {{ tag }}">{{ tag }}</div>
            {% endfor %}
        </div>
        <span class="reading-time">{{ post.content | number_of_words | divided_by: 197 }} minuti circa di lettura</span>
        <a class="read-more" itemprop="url" href="{{ post.url }}">
            <span>Leggi tutto</span>
            <span class="mdi material-icons-outlined">keyboard_arrow_right</span>
        </a>
    </article>

{% endif %}