@media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-thumb:hover {
        background-color: #d3d3d3
    }

    ::-webkit-scrollbar-track {
        border: 7px solid #1b1b1b;
    }

    ::-webkit-scrollbar-track:hover {
        background-color: #000000
    }

    ::-webkit-scrollbar-thumb {
        background-color: #cccccc
    }

    ::-webkit-scrollbar-thumb:window-inactive {
        background-color: #949699
    }

    html, aside, .results {
        scrollbar-color: #cccccc #191919;
    }

    a,
    aside>ul>li>a:hover {
        color: #ee7256;
    }

    header,
    footer {
        background-color: #292929a1;
    }

    .brand {
        filter: brightness(0) invert();
    }

    .searchbox input,
    .searchbox .results {
        border-color: #333333;
    }

    article, .searchbox input, .content tr:nth-child(2n+1) td, .card, .searchbox .results ul li:hover {
        background-color: #1b1b1b;
    }

    body {
        background-color: #191919;
    }

    header, footer, article, .content table thead, .card  {
        border-color: #353535;
    }

    body, .searchbox .results ul li a, .sitemap li:not(.small) > a, header nav ul li a, a.read-more, .searchbox input, .tag.edit a, article p, .content, article h2 a, .changelog li a,.splitter section a {
        color: #fff;
    }

    header nav ul li:hover a,
    header nav ul li.active a {
        background-color: #ffffff;
    }

    .pagination li a:hover,
    header nav ul li:hover a,
    header nav ul li.active a,
    .content :not(pre)>code,
    .tag {
        color: #000;
    }

    main, .searchbox .results, .card li a:hover, .splitter section:hover {
        background-color: #272727;
    }

    .tag {
        opacity: .6;
    }

    .content i,
    .content em {
        background-color: #ab6e00;
    }

    .hljs,
    .hljs::-webkit-scrollbar-track {
        background-color: #5d5749;
        border-color: #756a4c;
        scrollbar-color: #d4c8a9 #5d5749;
    }

    aside a {
        color: #b9b9b9;
    }

    @media screen and (max-width: 767px) {
        .article aside {
            background-color: #292929a1;
            border-bottom-color: #353535;
        }
    }

    @-moz-document url-prefix() {
        header {
            background-color: #191919;
        }
    }
}