::-webkit-scrollbar-thumb:hover {
    background-color: #191919
}

::-webkit-scrollbar-track {
    border: 7px solid #f9f9f9;
}

::-webkit-scrollbar-track:hover {
    background-color: #ececec
}

::-webkit-scrollbar-thumb {
    background-color: #616161
}

::-webkit-scrollbar-thumb:window-inactive {
    background-color: #949699
}

html,
aside,
.results {
    scrollbar-color: #191919 #f9f9f9;
}

.hljs,
pre.hljs,
.hljs::-webkit-scrollbar-track {
    background-color: #fdf6e3;
    border-color: #fdf6e3;
    scrollbar-color: #d4c8a9 #fdf6e3;
}

.hljs::-webkit-scrollbar-thumb {
    background-color: #d4c8a9;
}

header,
footer {
    background-color: #ffffffc9;
}

header,
footer,
article,
.content table thead,
.card,
hr {
    border-color: #cdcdcd;
}

.searchbox input,
.searchbox .results {
    border-color: #c7c7c7;
}

.searchbox .mdi {
    color: #6b6b6b;
}

.pagination li a:hover,
header nav ul li:hover a,
header nav ul li.active a,
.content :not(pre)>code,
.searchbox .results ul li:first-of-type b::before,
.searchbox .results ul li:nth-of-type(2) b::before,
.searchbox .results ul li:nth-of-type(3) b::before {
    color: #ffffff;
}

.searchbox .results,
article,
.card {
    background-color: #ffffff;
}

.searchbox .results ul li:hover,
.changelog li a:hover,
.splitter section:hover {
    background-color: #f2f2f2;
}

a,
aside>ul>li>a:hover {
    color: #ff2f00;
}

.searchbox .results ul li a,
.sitemap li:not(.small)>a,
header nav ul li a,
a.read-more,
article h2 a,
.changelog li a,
.splitter section a {
    color: #000;
}

.searchbox .results ul li p {
    color: dimgrey;
}

header nav ul li:hover a,
header nav ul li.active a {
    background-color: #000;
}

background-color: #f9f9f9;
}

.tag {
    background-color: #e7e7e7;
}

.reading-time {
    color: #949494;
}

.pagination li a:hover {
    background-color: #b3b3b3;
}

aside a {
    color: #464646;
}

aside>ul>li>a.active {
    border-left-color: #151515;
}

.content i,
.content em {
    background-color: #fff6a4;
}

.content {
    color: #151a23;
}

.content :not(pre)>code {
    background-color: #2dbfbd;
}

blockquote {
    background-color: #f5f6f9;
}

.content tr:nth-child(odd) td {
    background-color: #f7f7f7;
}

.searchbox .results ul li:first-of-type b::before,
.searchbox .results ul li:nth-of-type(2) b::before,
.searchbox .results ul li:nth-of-type(3) b::before {
    background: #569dff;
}

@media screen and (max-width: 767px) {
    .article aside {
        background-color: #ffffffc9;
        border-bottom-color: #d6d6d6;
    }
}

@-moz-document url-prefix() {
    header {
        background-color: #ffffff;
    }
}