#search-form,
.uk-panel.uk-panel-box,
.uk-panel.uk-panel-box+.uk-margin-top {
    display: none
}

.uk-search-page article {
    padding: .625rem;
    border-bottom: .0625rem solid
}

.uk-search-page article>h1 {
    font-size: 1.125rem
}