@media screen and (max-width:46.5625em) {
    ::-webkit-scrollbar {
        display: none
    }

    footer>div,
    header>div,
    main,
    section.spotlight,
    section.spotlight>div {
        padding: 0 .625rem .6rem;
        max-width: initial
    }

    header>div>a {
        width: 2.2125rem;
        height: 3rem;
        position: relative;
        overflow: hidden
    }

    header>div>a>img {
        position: absolute;
        width: 8.75rem
    }

    header>div>form {
        margin: .2625rem 0 0 .1rem;
        width: calc(100% - 60px)
    }

    header>nav {
        display: none
    }

    main>div>article {
        padding: 1.25rem 1.25rem 5rem;
        max-width: initial;
        width: initial;
        margin: 0 .75rem .75rem
    }

    main>div>article>h2+span+p+div+span {
        padding: 1.25rem 1.125rem
    }

    main>article.hasSummary {
        max-width: initial;
        margin: initial;
        padding: 0 1.25rem;
        border-left: initial
    }

    main>article,
    main>article.hasSummary {
        padding-top: 1em
    }

    main>article>h1 {
        margin: .1em 0 .75rem
    }

    #principles>div {
        display: initial;
        max-width: initial;
        width: initial
    }

    main>article>div ul>li {
        line-height: 1.625rem
    }

    footer>div>div {
        flex: initial
    }

    article>div>div {
        width: initial;
        display: block;
        margin: 0 auto
    }

    footer>div {
        display: block;
        text-align: center
    }

    header>div>ul {
        display: none
    }

    main,
    main>div {
        display: block;
        padding: 0
    }

    main>div>article:first-child>div {
        float: initial;
        max-width: initial;
        margin: 0 0 1.5rem
    }

    main {
        margin-top: 0
    }

    main>article,
    main>article.hasSummary,
    main>div>article {
        border-radius: 0;
        border-top: 0;
        margin: 0;
        border-bottom: 1px solid
    }

    main>div>article:nth-child(2n) {
        margin: 0
    }

    main>div>article+ol {
        text-align: center
    }

    header form>div article {
        width: auto;
        min-height: initial;
        min-width: initial;
        max-width: initial;
        display: block;
        margin: 0 0 1rem
    }

    header form>div {
        padding: 4.6rem 0 1rem
    }

    header form>div>div {
        max-width: initial;
        padding: 0 1rem
    }

    header>div>a img:first-child {
        display: none
    }

    header>div>a img:nth-child(2) {
        display: block !important;
        top: .1rem
    }

    main>aside {
        width: initial;
        padding: 1rem;
        border-bottom: 1px solid;
        max-height: 40vh;
        overflow-y: auto;
        z-index: 3
    }

    main>aside>ul>li a {
        display: none
    }

    main>aside>ul>li a.active {
        display: block
    }

    main>aside>ul>li {
        padding: 0
    }

    main>aside>span:last-child {
        display: none
    }

    main>aside>span {
        margin: 0
    }

    main>aside:hover>ul>li>a {
        display: block
    }

    main>aside:hover>ul>li {
        padding: .4rem 0
    }

    main>aside>span:first-child::before {
        content: "▼";
        margin: -.1rem .5rem 0 0;
        position: absolute;
        right: 1rem;
        font-size: 1.4em
    }

    main>aside:hover>span:first-child::before {
        content: "▲"
    }

    main>aside>span:first-child::after {
        content: "BETA";
        margin: 0 0 0 .3rem;
        border-radius: .2rem;
        padding: 0 .3rem
    }

    @media (prefers-color-scheme:dark) {
        main>aside {
            background-color: #202122
        }
    }

    @media (prefers-color-scheme:light) {
        main>aside {
            background-color: #fff
        }
    }

    header {
        height: 6rem;
        padding: 0
    }

    header>div>form {
        margin: -.3rem 0 0 1%;
        padding: .4rem .3rem 1rem
    }

    header form>div::after {
        padding: .4rem 2rem;
        margin: .6rem auto
    }

    section.spotlight {
        margin-top: 1.2rem;
        background-position: 0 0;
        background-size: cover;
        position: relative;
    }

    section.spotlight h3 {
        font-size: 2em;
    }
}

@media screen and (max-width:1174px) {
    section[related] {
        margin: 3rem 0 0
    }

    section[related]>div>div {
        display: block
    }

    section[related]>div article {
        display: block;
        max-width: initial;
        width: initial;
        margin: 0 1rem 1rem
    }
}