body {
    visibility: visible !important;
    transition: opacity .2s;
    opacity: 1 !important;
    font-family: Martel, serif;
    padding: 10px;
    font-size: 1em;
    color: #1c1714
}

a {
    text-decoration: none
}

h1 {
    font-size: 2.4em
}

h2 {
    font-size: 2.1em
}

h3 {
    font-size: 1.7em
}

blockquote,
main>ol li {
    border-left: 3px solid
}

.d span,
footer,
header {
    text-align: center
}

.d span,
.d::after,
main>article>h3+time,
main>ol li,
main>span>small,
pre>code {
    display: block
}

header>h1 {
    margin: 0 .4em 0 0;
    min-width: 276px;
    text-align: left;
    font-size: 2em
}

header a {
    display: inline-table;
    padding: 0 10px
}

header a.s {
    font-weight: 700
}

main>article li,
main>article p {
    font-size: 1.125em;
    line-height: 30px
}

main {
    max-width: 870px;
    min-height: 200px;
    padding: 40px 0 10px;
    margin: 0 auto
}

.d span {
    margin: 0 auto;
    max-width: 130px;
    padding: 0 10px;
    position: relative;
    z-index: 2
}

article {
    margin: 0 0 30px
}

.d::after,
article+article,
footer {
    border-top: 1px solid
}

article>h1,
article>h2 {
    margin: 0 0 17px
}

main>h2 {
    margin: 19px 0 16px
}

main>article>h3+time {
    margin: -10px 0
}

footer p,
main>h2+span {
    font-size: .938em
}

article>time,
main>h2+span {
    padding: 0 0 10px
}

main a,
main>ol li:hover a {
    padding: 1px 7px
}

main p,
main>ul li {
    line-height: 26px
}

header {
    align-items: center;
    border-bottom: 1px solid;
    display: flex;
    justify-content: center;
    padding: 0 0 20px
}

main>ol {
    padding: 0
}

main>ol li {
    margin: 0 0 3px;
    padding: 10px 16px;
    border-left-color: #191919
}

main>ol li a {
    margin: 0 0 0 3px
}

.r {
    text-align: right
}

.d::after {
    content: "";
    position: relative;
    top: -10px;
    z-index: 1;
    border-top-color: #dadada
}

main>ol li.d {
    border-left: 0
}

main>ol li b {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
    font-size: 1.188em
}

pre>code::-webkit-scrollbar {
    display: none
}

pre>code {
    font-size: 1.2em;
    line-height: 19px;
    margin: 0 -6%;
    overflow: auto;
    padding: 30px
}

blockquote {
    font-style: italic;
    padding: 10px 20px
}

main>article>blockquote>p {
    font-size: 1.1em;
    line-height: 27px
}

main>article>img,
main>article>p>img {
    margin: 0 0 0 -6%;
    width: 105%
}

main>span {
    font-size: 1.1em;
    border-bottom: 1px solid
}

main>span>small {
    font-size: .8em;
    margin: 8px 0 0
}

main>span>small>a {
    background-color: transparent;
    color: inherit;
    text-decoration: underline;
    padding: 0 2px
}

hr {
    margin: 2rem 1rem;
    border: 0;
    border-bottom: 1px solid
}

aside {
    margin: 1.7rem 2rem .4rem 0;
    padding: 1.6rem 2rem;
    float: left
}

article>time {
    display: block
}

aside>b {
    font-size: 1.4em
}

aside>ul {
    margin: 1rem 0;
    padding: 0
}

aside>ul>li {
    margin: 0 1rem
}

aside>ul>li>a {
    background-color: transparent;
    color: inherit
}

aside>ul>li>a:hover {
    text-decoration: underline
}

header>h1>b {
    color: #d1bb94
}

header a:hover,
main a:hover,
main>ol li a:hover {
    background-color: #d1bb94
}

@font-face {
    font-display: swap;
    font-family: Martel;
    font-style: normal;
    font-weight: 400;
    src: local('Martel Regular'), local(FiraSans-Regular), url(../fonts/Martel-Regular.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: Martel;
    font-style: normal;
    font-weight: 700;
    src: local('Martel Bold'), local(FiraSans-Bold), url(../fonts/Martel-Bold.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: Martel;
    font-style: normal;
    font-weight: 800;
    src: local('Martel Extra Bold'), local(FiraSans-Bold), url(../fonts/Martel-ExtraBold.ttf) format("truetype")
}

html::-webkit-scrollbar {
    background: 0 0;
    height: 20px;
    width: 20px
}

html::-webkit-scrollbar-track {
    border-radius: 20px;
    box-sizing: content-box;
    width: 6px
}

html::-webkit-scrollbar-thumb {
    background-clip: content-box;
    border: 7px solid transparent;
    border-radius: 20px;
    box-sizing: content-box;
    min-height: 30px;
    width: 6px
}

@media screen and (max-width:745px) {

    main>article>img,
    main>article>p>img {
        width: 100%;
        margin: 0 auto;
    }

    header,
    header a {
        display: block
    }

    header>h1 {
        margin: 0 0 14px;
        min-width: initial;
        text-align: center
    }

    header a {
        margin: 0 -4px 10px;
        padding: 0 7px;
        background-color: #9e9e9e2e
    }

    pre>code {
        margin: 0 -18px
    }

    main>article>img {
        margin: 0 -18px;
        width: calc(100% + 18px*2)
    }

    main>ol li b {
        max-width: 300px
    }
}

html::-webkit-scrollbar-track {
    border: 7px solid #fff
}

html::-webkit-scrollbar-track:hover {
    background-color: #ececec
}

html::-webkit-scrollbar-thumb {
    background-color: #616161
}

html::-webkit-scrollbar-thumb:window-inactive {
    background-color: #949699
}

footer a,
header a {
    color: #191919
}

header a.s,
header a:hover,
main a {
    color: #fff
}

header a.s,
main a {
    background-color: #4d4942
}

article>time,
footer p,
main>h2+span {
    color: #908d9d
}

.d span,
body,
html::-webkit-scrollbar-track {
    background-color: #fbfbfe
}

::selection,
main>article p i,
mark {
    background: #ffffd5;
    color: #535219
}

header a.s,
header a:hover,
html::-webkit-scrollbar-thumb:hover,
main a,
main>ol li a,
main>ol li:hover a {
    background-color: #191919
}

article+article,
footer,
header,
hr {
    border-color: #e8e8e8
}

main>ol li:hover:not(.d) {
    background-color: #a6a6a61f
}

header h1 span {
    color: #ada8a191
}

aside,
code {
    background-color: #4d494212;
    color: #4d4942
}

span.no-translation,
span.translation {
    padding: 1rem;
    display: block;
    margin: 1rem 0;
    font-size: .9em;
    border-top: 1px solid
}

span.no-translation {
    border-top-color: #5d5028;
    color: #5d5028;
    text-align: right;
}

span.translation {
    border-top-color: #28345d;
    color: #28345d;
    text-align: left;
}

span.translation a {
    background-color: initial;
    color: initial;
    text-decoration: underline;
    font-weight: 600;
}

/* My personal color-scheme for snippets */
.language-python .k, .language-python .ow,
.language-css .n {
    color: #0f9814;
}

.language-python .s,
.language-html .s,
.language-css .nt, .language-css .o {
    color: #006dc3;
}

.language-python .nb,
.language-css .nb {
    color: #FF9800;
}

.language-python .k, .language-python .ow, .language-python .nb,
.language-html .nt,
.language-css .nl {
    font-weight: bold;
}

.language-python .bp,.language-python .mi,
.language-css .k {
    color: #8c1540;
}

.language-python .nf,
.language-html .na {
    color: #f13355;
}
/* /My personal color-scheme for snippets */

@media (prefers-color-scheme:dark) {
    html::-webkit-scrollbar-track {
        border: 7px solid #1e1e1f
    }

    html::-webkit-scrollbar-track:hover {
        background-color: #28282a
    }

    html::-webkit-scrollbar-thumb {
        background-color: #616161
    }

    html::-webkit-scrollbar-thumb:window-inactive {
        background-color: #949699
    }

    ::selection,
    main>article p i,
    mark {
        background-color: #2e2d37;
        color: #9ecbff
    }

    html::-webkit-scrollbar-thumb:hover {
        background-color: #fff
    }

    header::after {
        border-radius: 4px;
        bottom: 0;
        content: "Dark mode";
        display: block;
        margin: 10px;
        opacity: .3;
        padding: 7px 15px;
        position: fixed;
        right: 0;
        top: initial
    }

    header>h1>b {
        color: #c050ff
    }

    header a:hover,
    main a:hover,
    main>ol li a:hover,
    span.translation {
        background-color: #662988
    }
    
    span.translation {
        border-color: #662988
    }

    .d span,
    body,
    footer a,
    header a,
    header h1 span {
        color: #b4aecc
    }

    article,
    header,
    header a.s,
    header a:hover,
    main a,
    main>ol li:hover a {
        color: #bbb7cc
    }

    .d span,
    body,
    html::-webkit-scrollbar-track {
        background-color: #131217
    }

    main>ol li {
        border-left-color: #373636
    }

    .d::after {
        border-top-color: #e8ebff91
    }

    header a.s,
    header::after,
    main a,
    main>ol li a {
        background-color: #000
    }

    header,
    hr {
        border-bottom-color: #22202b
    }

    article+article,
    footer {
        border-top-color: #22202b
    }

    main>ol li:hover:not(.d) {
        background-color: #a6a6a61f
    }

    aside,
    code {
        color: #b0acc1;
        background-color: #1b1920
    }
}
