<!DOCTYPE html>
<html lang="en-us">

<head>
	{% include head.html %}
	{% if page.description == "" %}
		<meta name="description" content="{{ site.description }}" />
	{% else if post.content != "" %}
		<meta name="description" content="{{ post.content | strip_html | truncatewords: 15 }}…" />
	{% else %}
		<meta name="description" content="{{ page.description }}" />
	{% endif %}
</head>

<body>
	{% include nav.html %}
	<main>
		{{ content }}
	</main>
	{% include footer.html %}
	<script src="/assets/js/search.js"></script>
</body>

</html>