---
layout: default
---

<h1>I'm Mirko B.</h1>
<article class="reveal">
    <p>Ciao! I'm a UI/UX designer and a proud Linux user from Italy, born in '94.</p>
    <p>My journey into the world of computing began when the first PC arrived at home when I was very young. I was
        fascinated by this "magic" box, not just because it displayed images, but because I could interact with the
        content on the screen, unlike a TV. From that moment, I knew computers would become an integral part of my life.
    </p>
    <p>I remember spending hours typing texts on the computer for my father. I quickly memorized the keyboard and
        dedicated a lot of time to formatting the text: colors, fonts (the few that were available).</p>
    <p>One day, a family friend brought us a box containing a CD with Debian. My brother and I immediately tried to
        install it, which took quite some time because we had no idea what we were doing. That was my first experience
        with a Linux distribution and KDE. Shortly after, I installed Ubuntu 8.04 and started using it more frequently.
    </p>
    <p>A few years later, I received my first personal PC with Windows XP, on which I created my first website.</p>
    <p>Over the years, I have nurtured my passion for design and user experience. With each project, my attention to
        detail grew, to the point where I found existing frameworks too bulky and generic. The interfaces felt
        repetitive, all using the same frameworks and designs. So, I began to exclude them from my workflow and went
        back to working from scratch. This approach allowed me to break free from conventional designs and create
        something unique.</p>
    <p>I have had the opportunity to shape the UX of various companies' products over the years. Since 2021, I have been
        dedicating myself to UI and UX for the products of fabricators.ltd, a company I co-founded with Pietro, a dear
        friend of mine.</p>
    <p>I am a strong advocate of Open Source, and in my spare time, I work on personal projects and contribute to
        others.</p>
    <div class="expand">

        <button class="button primary">
            Expand text <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
    </div>
</article>

<hr />

<h2>Latest projects</h2>
<p>See all my projects <a href="https://github.com/mirkobrombin">here</a>.</p>
<section class="cards">
    <div class="card">
        <h3>Vanilla OS</h3>
        <p>Vanilla OS is an immutable Linux distribution with focus on simplicity.</p>
        <a class="button link" href="https://vanillaos.org">
            <ion-icon name="link-outline"></ion-icon> Official website
        </a>
    </div>
    <div class="card">
        <h3>Bottles</h3>
        <p>Easily run Windows software on Linux using WINE environments!</p>
        <a class="button link" href="https://usebottles.com/">
            <ion-icon name="link-outline"></ion-icon> Official website
        </a>
    </div>
    <div class="card">
        <h3>vnt</h3>
        <p>Vue Native Toolkit mimics the behavior of native GUI toolkits but with Vue.js.</p>
        <a class="button link" href="https://github.com/mirkobrombin/vnt">
            <ion-icon name="logo-github"></ion-icon> See on GitHub
        </a>
    </div>
    <div class="card">
        <h3>DaBaDee</h3>
        <p>DaBaDee is a simple deduplication tool/storage for files.</p>
        <a class="button link" href="https://github.com/mirkobrombin/DaBaDee">
            <ion-icon name="logo-github"></ion-icon> See on GitHub
        </a>
    </div>
</section>
</div>
