---
layout: default
---
<h1>I'm Mirko B.</h1>
<article class="reveal">
    <p>Ciao, I'm a UI/UX designer and proud Linux user from Italy, born in '94.</p>
    <p>My story in the world of computing began when the first PC arrived at 
        home, I was very young. I was shocked by this "magic" box, 
        not so much because it showed images but because I could move the 
        contents on this screen, not like on TV. I immediately understood that 
        from that day on it was going to be part of my life in some way.</p>
    <p>I remember spending my time writing texts on the computer for my father. 
        I learned the keyboard by heart after a very short time. I spent a lot 
        of time taking care of the formatting of the text: colors, fonts (those 
        few available).</p>
    <p>One day a family friend brings us a box containing a CD with Debian. My 
        brother and I immediately tried to install it, this took a long time 
        because we didn't really know what we were doing. I remember that was 
        my first experience with a Linux distribution and with KDE. A short 
        time later I installed Ubuntu 8.04 and started using it more often.</p>
    <p>A few years later I received my first personal PC with Windows XP, with 
        which I created my first website.</p>
    <p>Over the years I have cultivated a lot my passion for design and user 
        experience. With each job my passion for attention to detail grew, 
        to the point that I could no longer work with existing frameworks, 
        I found them heavy and vast. The interfaces were all the same for me, 
        they all used the same frameworks, the same lines. I then started 
        excluding them from my workflow, going back to working from scratch.
        This allowed me to break out of the box and create something new.</p>
    <p>Over the years I have curated the UX of the products of various 
        companies. Since 2021 I have been dedicating myself to UI and UX for the 
        products of fabricators.ltd, the company of which I am a partner 
        together with Pietro, a dear friend of mine.</p>
    <p>I am a strong supporter of Open Source and in my spare time I work on 
        personal projects and contribute to others.</p>
    <div class="expand">
        <button class="button primary">
            Expand text <ion-icon name="chevron-down-outline"></ion-icon>
        </button>
    </div>
</article>

<hr />

<h2>Latest projects</h2>
<p>See all my projects <a href="/projects">here</a>.</p>
<section class="cards">
    <div class="card">
        <h3>Vanilla OS</h3>
        <p>Taste the GNOME Vanilla experience on Ubuntu with some spice..</p>
        <a class="button link" href="https://vanillaos.org">
            <ion-icon name="logo-github"></ion-icon> See on GitHub
        </a>
    </div>
    <div class="card">
        <h3>Atoms</h3>
        <p>Easily manage Linux Chroot(s) and Containers with Atoms.</p>
        <a class="button link" href="https://github.com/atomsdevs/Atoms">
            <ion-icon name="logo-github"></ion-icon> See on GitHub
        </a>
    </div>
    <div class="card">
        <h3>Bottles</h3>
        <p>Easily run Windows software on Linux using WINE environments!</p>
        <a class="button link" href="https://usebottles.com/">
            <ion-icon name="link-outline"></ion-icon> Official website
        </a>
    </div>
    <div class="card">
        <h3>FVS</h3>
        <p>File Versioning System with hash comparison, deduplication and data storage.</p>
        <a class="button link" href="https://github.com/mirkobrombin/FVS">
            <ion-icon name="logo-github"></ion-icon> See on GitHub
        </a>
    </div>
    <div class="card">
        <h3>runtimezilla</h3>
        <p>This tool helps you building your own Linux runtime given a recipe.</p>
        <a class="button link" href="https://github.com/mirkobrombin/runtimezilla">
            <ion-icon name="logo-github"></ion-icon> See on GitHub
        </a>
    </div>
    <div class="card">
        <h3>unified/ban</h3>
        <p>Keep your users safe and manage your group with the most advanced, comprehensive and free solution.</p>
        <a class="button link" href="https://unifiedban.solutions/">
            <ion-icon name="link-outline"></ion-icon> Official website
        </a>
    </div>
</section>
</div>
