---
layout: default
---

{% assign lght = page.url | size | minus: 1 %}

<aside>
    <span>Indice</span>
    <ul>
        <li>Caricamento..</li>
    </ul>
    <span>{{ content | number_of_words | divided_by: 197 }} minuti circa di lettura</span>
</aside>
<article itemscope itemtype="https://schema.org/NewsArticle" class="hasSummary">
    <meta itemprop="image" content="https://linuxhub.it/storage/linuxhub.png" hidden />
    <h1 itemprop="headline">{{ page.title }}</h1>
    <span>
        <em itemprop="publisher" itemscope itemtype="https://schema.org/Organization" hidden>
            <span itemprop="name">linux/hub</span>
            <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <meta itemprop="url" content="https://linuxhub.it/storage/brand.png" />
            </span>
        </em>
        Scritto da
        <em itemprop="author" itemscope itemtype="https://schema.org/Person">
            <a href="//github.com/{{ page.author_github }}" target="_blank">
                <span itemprop="name">{{ page.author }}</span>
            </a>
        </em> il
        <em itemprop="datePublished" content="{{ page.date }}">
            <time datetime="{{ page.date | date:'%Y-%m-%d' }}">{{ page.date | date: "%a, %b %e, %Y" }}</time>
        </em>
    </span>
    <div>
        <div class="tag edit">
            <a href="https://github.com/linuxhubit/linuxhub.it/blob/main/_posts/{{ page.date | date:'%Y-%m-%d' }}-{{ page.url | truncate: lght,'' | replace: '/articles/', ''}}.md">Edit on GitHub</a>
        </div>
        {% for tag in page.tags %}
            <div class="tag {{ tag }}">{{ tag }}</div>
        {% endfor %}
    </div>
    <div>{{ content }}</div>
</article>

<!--
<section related>
    <h4>Leggi anche</h4>
    <div>Caricamento..</div>
</section>-->

<script src="/assets/js/highlight.min.js"></script>
<script src="/assets/js/post.js"></script>