---
layout: default
---
<h1>{{ page.title }}</h1>
<article>
    <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date: "%a, %b %e, %Y" }}</time>
    {% if page.is_translation == false %}
        {% if page.is_english == nil %}
            {% if page.translation == false  %}
                <div class="panel warning">This article is written in Italian, my language. I could translate it in the future.</div>
            {% else %}
                <div class="panel info">
                    This article is also available in English <a href="/blog/{{ page.translation }}">here</a>.
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
    <p>{{ content }}</p>
    {% if page.review_by %}
        <br />
        <hr />
        <span>Review by <a href="https://github.com/{{ page.review_by }}">{{ page.review_by }}</a></span>
        <hr />
    {% endif %}
</article>