---
layout: default
---

<div class="support-page">
    <h1 class="support-title">Support Me</h1>

    <section class="cards">
        <div class="card">
            <div class="card-header">
                <div>
                    <ion-icon name="logo-paypal"></ion-icon>
                    <h3>PayPal</h3>
                </div>
                <span class="support-tag">One-Time / Recurring</span>
            </div>
            <div class="card-buttons">
                <a href="https://www.paypal.com/donate?hosted_button_id=HM2VKUH5STU4J" class="button link">
                    <ion-icon name="link-outline"></ion-icon> Donate via PayPal</a>
                <a href="https://paypal.me/MirkoBrombin" class="button link">
                    <ion-icon name="link-outline"></ion-icon> Old PayPal Method</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div>
                    <ion-icon name="logo-github"></ion-icon>
                    <h3>GitHub Sponsors</h3>
                </div>
                <span class="support-tag">Recurring</span>
            </div>
            <div class="card-buttons">
                <a href="https://github.com/sponsors/mirkobrombin" class="button link">Sponsor via GitHub</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div>
                    <ion-icon name="heart"></ion-icon>
                    <h3>Patreon</h3>
                </div>
                <span class="support-tag">Recurring</span>
            </div>
            <div class="card-buttons">
                <a href="https://www.patreon.com/MirkoBrombin" class="button link">
                    <ion-icon name="link-outline"></ion-icon> Support via Patreon</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div>
                    <ion-icon name="cash-outline"></ion-icon>
                    <h3>Bank Transfer</h3>
                </div>
                <span class="support-tag">One-Time</span>
                <code><pre>Account Name: Mirko Brombin
IBAN: LT50 3250 0948 5804 5072
BIC/SWIFT: REVOLT21</pre></code>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                <div>
                    <ion-icon name="logo-bitcoin"></ion-icon>
                    <h3>Cryptocurrency</h3>
                </div>
                <span class="support-tag">Bitcoin, Ethereum, and more</span>
                <code><pre>Ethereum (ETH)
Network: ERC20
0xef6a653c63db31403f507bca277f719d2f3d44f8
---
Bitcoin (BTC)
Network: BTC(SegWit)
bc1q2svx64v90hyyd7jt8xamvqm9vc5248l5rgzwpm
---
Litecoin (LTC)
Network: LTC
LWqpd2411CQTuWD15bcPP7bfAw3wmYHScm
---
Ripple (XRP)
Network: XRP
rNxp4h8apvRis6mJf9Sh8C6iRxfrDWN7AV
The following MEMO is required: 420078619.
If you can't add the MEMO, coins will be lost.</pre></code>
            </div>
        </div>

        <div class="card projects-card">
            <div class="card-header">
                <div>
                    <ion-icon name="code-outline"></ion-icon>
                    <h3>Support My Main Projects</h3>
                </div>
            </div>
            <div class="rich-list">
                <div class="rich-list-item">
                    <img src="https://usebottles.com/uploads/bottles.png" alt="Project 1 Logo"
                        class="rich-list-item-icon">
                    <div class="rich-list-item-text">
                        <h4>Bottles</h4>
                        <p>Easily run Windows software on Linux with Bottles!</p>
                    </div>
                    <a href="https://usebottles.com/funding/" class="rich-list-item-link">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                </div>
                <div class="rich-list-item">
                    <img src="https://vanillaos.org/assets/images/brand/vanillaos-logo-icon.svg" alt="Project 1 Logo"
                        class="rich-list-item-icon">
                    <div class="rich-list-item-text">
                        <h4>Vanilla OS</h4>
                        <p>Vanilla OS is an immutable Linux distribution with focus on simplicity.</p>
                    </div>
                    <a href="https://vanillaos.org/get-involved/funding" class="rich-list-item-link">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                </div>

                <br />
                <h5>Emerging Projects</h5>
                <br />

                <div class="rich-list-item">
                    <img src="https://avatars.githubusercontent.com/u/197488840?s=200&v=4" alt="Project 1 Logo"
                        class="rich-list-item-icon">
                    <div class="rich-list-item-text">
                        <h4>GoUp!</h4>
                        <p>GoUp! is a minimal, hackable and very performant web server written in Go.</p>
                    </div>
                    <a href="https://github.com/sponsors/tryGoUp" class="rich-list-item-link">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                </div>
                <div class="rich-list-item">
                    <img src="https://avatars.githubusercontent.com/u/144563190?s=200&v=4" alt="Project 1 Logo"
                        class="rich-list-item-icon">
                    <div class="rich-list-item-text">
                        <h4>Containerpak</h4>
                        <p>A fast, decentralized, portable, powerful and low-memory footprint package format for Linux.
                        </p>
                    </div>
                    <a href="https://github.com/sponsors/Containerpak" class="rich-list-item-link">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </a>
                </div>
            </div>
            <a href="https://github.com/mirkobrombin" class="button link">All My Projects</a>
        </div>
    </section>
</div>