---
layout: default
---
<h1>Texts</h1>
<p>There are only the posts that I think are most interesting.</p>
<hr />

<section>
	<h2>My posts from other places</h2>
	<hr />
	<article>
		<h3>Lascio Google e le sue politiche</h3>
		<p>Chi mi conosce sa bene quanto sia legato a Google. I suoi prodotti e servizi sono alla base 
		non solo del mio lavoro ma della mia routine quotidiana.<br />La loro integrazione è unica, ogni 
		prodotto comunica con gli altri, senza alcun problema.</p>
		<p>Non ho mai avuto disservizi, mai un problema, sono sicuro di poter definire questi come i prodotti 
		più curati al mondo, almeno per quel che mi riguarda ma a che prezzo?</p>
		<p>Di recente (si parla di 3 mesi circa), Google ha rivisto alcune delle sue politiche, mettendo 
		tutti su un pi</p>
		<a class="button primary" href="https://drive.mirko.pm/index.php/s/ZfJKDrHW8DYDafB">Read</a>
	</article>
	<article>
		<h3>Fuga da facebook, perché partecipare</h3>
		<p>Diversi mesi fa abbiamo parlato di come il comfort costi la nostra privacy. Ció significa che 
		se vogliamo una certa comoditá dobbiamo pagarla con i nostri dati personali, la privacy. </p>
		<p>Se da un lato questa puó sembrare una tirannia, dall'altra abbiamo la certezza che la nostra 
		privacy verrá concessa solo a chi ci offre il servizio, mantenendo in parte la nostra indipendenza.</p>
		<p>Purtroppo ad oggi non é sempre cosí, sono molte le aziende che in cambio di un servizio chiedono 
		accesso a diverse nostre personalitá ma..</p>
		<a class="button primary" href="https://linuxhub.it/articles/%E2%98%95-pausacaff%C3%A9-%E2%80%93-fuga-da-facebook,-perch%C3%A9-partecipare">Read</a>
	</article>
	<article>
		<h3>L'Open source non è discutibile</h3>
		<p>L'allarmismo non é da me ma ammetto che il titolo potrebbe equivocare un tantino il significato 
		di questa #pausacaffé.</p>
		<p>Non ci sono immagini, link, decorazioni o che altro, solo piccoli pensieri che girano nella mia 
		testa e che mi piace condividere. Ti avviso, 9 su 10 non sarai d'accordo su questo punto di vista ma 
		ti invito comunque a commentare esplicando il tuo.</p>
		<p>Diverse ore fa é trapelata la notizia di una possibile mossa di Microsoft, intenta ad acquistare 
		la nota piattaforma di svilup..</p>
		<a class="button primary" href="https://linuxhub.it/articles/%E2%98%95-pausacaff%C3%A9-%E2%80%93-l-open-source-non-%C3%A8-discutibile">Read</a>
	</article>
	<article>
		<h3>Guadagnare in fronte a passione e qualitá nell'Open source</h3>
		<p>Inauguro la stagione delle #pausacaffé di quest’anno con un ragionamento del tutto personale 
		nato nella nuova chat di #gentedilinux. L’articolo sará relativamente lungo, prendiamoci 10 minuti 
		per una tazza di caffé e ragioniamo assieme su quello che é un problema alla base delle comunitá 
		per l’Open source e la pseudo filosofia che le circonda.</p>
		<p>Ad oggi si contano piú di 100 comunitá italiane per l’Open source, un traguardo ammirevole che 
		porta di certo i suoi omaggi all’Open source. Eppure non tutto é rose e fiori. Soffermiamoci un 
		momento ad analizzare come questi progetti spesso sfruttino la filosofia alla base, per scontati 
		e meschini introiti, inconsciamente motivati dalla qualitá.</p>
		<p>Sono molte le comunitá italiane che..</p>
		<a class="button primary" href="https://linuxhub.it/articles/%E2%98%95-pausacaff%C3%A9-guadagnare-in-fronte-a-passione-e-qualit%C3%A1-nell-open-source">Read</a>
	</article>
	<article>
		<h3>La responsabilitá dei progetti per l'Open source per un mondo digitale</h3>
		<p>Siamo ormai nel 2018, sempre piú vicini al fatidico "2020", che vede attuare il piano per 
		l'eGovernment 2016–2020 per la Strategia per la crescita digitale che pone un obbiettivo non 
		solo molto ambizioso ma importante alla base del Open source.</p>
		<p>Entro il 2020 le amministrazioni e le istituzioni pubbliche nell’Unione europea dovrebbero 
		essere aperte, efficienti e inclusive e fornire servizi pubblici digitali end-to-end senza frontiere, 
		personalizzati e intuitivi a tutti i cittadini e a tutte le imprese nell’UE. Il ricorso ad approcci 
		innovativi permette di progettare e fornire servizi migliori, in linea con le esigenze e le richieste 
		di cittadini e imprese. </p>
		<p>Le pubbliche amministrazioni sfruttano le opportunità offerte dal nuovo ambiente digitale per 
		interagire più facilmente tra di loro e con..</p>
		<a class="button primary" href="https://linuxhub.it/articles/%E2%98%95-pausacaff%C3%A9-la-responsabilit%C3%A1-dei-progetti-per-l-open-source-per-un-mondo-digitale">Read</a>
	</article>
	<article>
		<h3>Il Web e i lavori del futuro</h3>
		<p>Sento sempre più spesso parlare del web come il lavoro del futuro, piazzando un concetto del 
		tutto errato non solo riguardo  al web ma al senso stesso della parola lavoro.</p>
		<p>Non mi soffermo di certo sullo spiegare come definire il web stesso un lavoro sia concettualmente 
		un errore da ignorante.</p>
		<p>Lasciatemi fare una premessa prima di addentrarmi nel cuore di questo articolo. Il mio obbiet..</p>
		<a class="button primary" href="https://linuxhub.it/articles/%E2%98%95-pausacaff%C3%A8-il-web-e-i-lavori-del-futuro">Read</a>
	</article>

	<h2>Documents</h2>
	<hr />
	<article>
		<h3>Manifesto linux/hub</h3>
		<p>Linux HUB è un progetto non a scopo di lucro nato con l'obiettivo di informare ed istruire in 
		materia di Open Source, in particolar modo di GNU/Linux in quanto sua parte preponderante.</p>
		<p>L'obiettivo del nostro progetto è quello di portare l’utente, inteso come studente e/o 
		lavoratore, a conoscenza di una serie di strumenti a licenza libera e alla loro applicazione 
		nell’ambito lavorativo e scolastico oltre che pers</p>
		<a class="button primary" href="https://drive.mirko.pm/s/sDRZkiHdQFSPSxR">Read</a>
	</article>

	<h2>Favorite books</h2>
	<hr />
	<article>
		<h3>Bushido: l'anima del Giappone</h3>
		<p>Il Bushi-do, che significa letteralmente “via del guerriero”, è il codice morale che i cavalieri 
			dovevano osservare nella vita quotidiana e nell’esercizio della loro professione. Non è 
			scritto – tutt’al più è codificato in alcune massime trasmesse oralmente o fissate su carta 
			da qualche famoso saggio o guerriero – tuttavia possiede una forza assai più potente 
			dell’esempio concreto e di una legge scritta sulle tavole del cuore.</p>
		<p>Non è il parto di una sola mente, né è nato dall’esperienza di vita di un singolo personaggio: si 
			è sviluppato in modo piuttosto organico nel corso dei secoli all’interno della casta militare.</p>
		<p>I suoi concetti cardine – rettitudine, coraggio, audacia, sopportazione, benevolenza, empatia, cortesia, 
			sincerità, onore, lealtà, autocontrollo – sono stati spiegati agli occidentali magistralmente, più di 
			cento anni fa, da questo trattato che è ancora oggi è il punto di riferimento per comprendere il Giappone 
			antico e moderno, le arti marziali e il mondo dei samurai.</p>
		<a class="button primary" href="https://www.amazon.it/dp/B078Y6133D">Read</a>
	</article>
	<article>
		<h3>L'arte della guerra</h3>
		<blockquote>Our wars today are fought at work and in relationships. This book is a great teaching 
			of life.</blockquote>
		<p>"L'arte della guerra", attribuito al generale Sun Tzu, rappresenta il più antico trattato di 
			strategia militare. Il suo contenuto ha influenzato ampiamente nei secoli la filosofia 
			orientale e oggi questo testo viene utilizzato nelle scuole di management di tutto il mondo.</p>
		<p>Sun Tzu non si limita a dare precetti per sconfiggere i nemici sul campo di battaglia, ma ci 
			insegna a gestire i conflitti in modo profondo e non distruttivo. Un libro amato da 
			grandi personaggi della storia, da Napoleone a Mao Tse-tung.</p>
		<a class="button primary" href="https://www.amazon.it/dp/8832147394">Read</a>
	</article>
	<article>
		<h3>Nelson Mandela. Conversazioni con me stesso</h3>
		<blockquote>Nelson Mandela was a great man with strong ideals. A man who was able to question himself several 
			times but remained to his principles.</blockquote>
		<p>Nelson Mandela è una delle figure più suggestive ed emblematiche della nostra epoca, e la sua storia 
			ci offre una preziosa e attualissima lezione sulla resilienza.</p>
		<p>A cento anni dalla sua nascita, il suo archivio privato di documenti autografi, contenenti stralci 
			di vita, pensieri, avvenimenti, sacrifici e vittorie, è un tesoro importante per la storia e per 
			l'umanità intera, perché ci regala una visione senza precedenti della sua straordinaria esistenza. 
			"Nelson Mandela. Conversazioni con me stesso" svela ai lettori chi era l'uomo dietro il personaggio 
			pubblico: dalle lettere scritte nelle ore più buie dei suoi ventisette anni di prigionia alla bozza 
			del seguito incompiuto di "Lungo cammino verso la libertà", la sua autobiografia. Lo vediamo prendere 
			appunti e scarabocchiare durante le riunioni, trascrivere sogni tormentati sul calendario da tavolo 
			nella sua cella a Robben Island, tenere un diario mentre è in fuga durante le lotte antiapartheid dei 
			primi anni Sessanta, chiacchierare con gli amici in quasi settanta ore di conversazioni registrate. 
			In queste pagine non è né un'icona né un santo: è uno di noi.</p>
		<p>Un ritratto intimo che offre la rara possibilità di trascorrere del tempo con l'uomo Nelson Mandela,
				ascoltando in presa diretta la sua voce: schietta, limpida, privata.</p>
		<a class="button primary" href="https://www.amazon.it/dp/882006491X">Read</a>
	</article>
</h2>